# Window Compositor
#picom --daemon --dbus

# Screen lock
#xautolock \
#    -time 10 \
#    -notify 120 \
#    -corners -0+0 \
#    -locker slock electricsheep \
#    -detectsleep \
#    -secure \
#    &

# Bluetooth
#blueman-tray &

# Mouse banisher
#xbanish &

# Set keyboard layout to dvorak and replace caps key for control
#setxkbmap -layout dvorak -option caps:ctrl_modifier
#xcape -e 'Caps_Lock=Escape'

# Configure monitor (macbook specific)
#xrandr --output eDP-1 --scale .85x.85

# Load Xresources if it exists
[ -f ~/.Xresources ] && xrdb -merge -I$HOME ~/.Xresources

# Set a background (the xbg service will also do this if enabled)
#xbg
