[Desktop Entry]
Type=Application
Exec=/usr/local/bin/st /usr/bin/transmission-cli %u
Name=One off torrent downloader for magnet links
MimeType=x-scheme-handler/magnet;
