[Desktop Entry]
Type=Application
Exec=/usr/bin/transmission-remote -a '%u'
Name=One off torrent downloader for magnet links
MimeType=x-scheme-handler/magnet;
